.icon-horsestops {
   background-image: url('../icons/stable-99269.svg');
   width: 20px;
   height: 20px;
}
.navbar-nav li a {
	line-height: 25px;
}
#topNav > div > div.navbar-header > a {
	font-size: 25px;
}
#first > div > div > h1 {
	color: #952114;
}
#first > div > div > h4 {
	color: #952114;
}