 {% load i18n %}
   <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">{% trans 'Find your horse stop' %}</h1>
                <h4>{% trans 'Stop searching, start finding.' %} <i>{% trans 'For free!' %}</i></h4>
                <hr>
                <div class="col-xs-6">
					<a href="#horsestopsearch" class="btn btn-primary btn-xl page-scroll">{% trans 'I search a stop' %}</a>
				</div>
				<div class="col-xs-6">
					<a href="#stopownerentry" class="btn btn-primary btn-xl page-scroll">{% trans 'I have a stop' %}</a>
				</div>
            </div>
        </div>
    </header>

