{% load i18n %}
    <section class="bg-primary" id="horsestopsearch">
        <div class="container-fluid">
            <div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">{% blocktrans %}I'm searching for a stop{% endblocktrans %}</h2>
                    <br>
                    <p class="text-faded">
                        {% blocktrans %}Wouldn't it be nice that people with horses could easily find your property? {% endblocktrans %}
                    </p>
                    <a href="#three" class="btn btn-default btn-xl page-scroll">Learn More</a>
                </div>
            </div>
        </div>
    </section>