{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% trans 'Find stops when traveling with your horse, whether it be hotels, hostels or farms and whether you travel to international shows or on vacation!'%}</title>
    
    <meta name="description" content="{% trans 'Travel with your horse. Find the best stop. Choose from one night stay with bed and breakfast when travelling to an international show, to a stay for multiple days when on vacation." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% render_bundle 'index' 'css' %}
  </head>

  <body>
    {% block content %}
    {% endblock content %}

    <div id="react-app"></div>
    
    
    {% render_bundle 'index' 'js' %}
  
  
  </body>
</html>